[user]
	name = Kirk gleason
	email = kgleason@bloommg.com

[core]
	excludesfile = /Users/kirk/.gitignore_global
	
[alias] 
	st = status
	co = checkout
	ci = commit
	br = branch
	rb = rebase
	##
	# Pimp-out log:
	# From: http://www.jukie.net/bart/blog/pimping-out-git-log
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate
	fix = commit --amend -C HEAD
	di = diff --color
	undo = reset --soft HEAD^
	tagsbydate = for-each-ref --sort=-taggerdate --format='%(refname:short)' refs/tags
	previoustag = !sh -c 'git tagsbydate --count 2 | cut -f2 | sed -n 2p'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	markdownlog = log --color --pretty=format:'* %s `%Cred%h%Creset` - %C(bold blue)[%an](mailto:%ae)%Creset' --abbrev-commit --dense --no-merges --reverse
	releasenotes = !sh -c 'git markdownlog ...`git previoustag`'

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[merge]
	tool = Kaleidoscope
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/1.8.1/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
